/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  font-family: Arial, sans-serif;
}

/* Top Header */
.header-top {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 12px 30px;
  background: #fff;
  border-bottom: 1px solid #ddd;
}

.logo img {
  height: 75px;
}

.search-bar {
  display: flex;
  align-items: center;

  background: #fdf3f3;
  border-radius: 5px;
  padding: 5px 15px;
  width: 45%;
  height: 5vh;
}
.search-bar .icon {
  font-size: 16px;  /* ya apni requirement k mutabiq */
  color: #555;
}

.search-bar input {
  border: none;
   background: #fdf3f3;
  outline: none;
  margin-left: 8px;
  width: 100%;
  font-size: 14px;
}

.icon {
  font-size: 8px;
  color: #555;
  cursor: pointer;
  height: 25px;
}

.header-icons {
  display: flex;
  gap: 15px;
}
.header-icons .icon {
  height: 25px;
  width: auto;
}

/* Navigation Bar */
.nav-bar {
  background: #f7f7f7;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.nav-bar ul {
  display: flex;
  overflow-x: auto;
  list-style: none;
  padding: 12px 30px;
  gap: 20px;
  font-size: 18px;
  font-weight: 700;
}

.nav-bar li {
  cursor: pointer;
  white-space: nowrap;
}

.nav-bar li:hover {
  color: #d00;
}

/* Offer Strip */
.offer-strip {
  background: #ffcc00;
  padding: 8px 20px;
  display: flex;
  justify-content: space-around;
  font-size: 14px;
  font-weight: bold;
}
.nav-bar a {
  text-decoration: none;
  color: black;
}

.nav-bar a.active-link {
  color: #d00;          /* red highlight */
  border-bottom: 2px solid #d00;
  padding-bottom: 4px;
}
.cart-icon-container {
  position: relative;
  display: inline-block;
}

.cart-count {
  position: absolute;
  top: -5px;
  right: -10px;
  background: red;
  color: white;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50%;
  padding: 2px 6px;
}
 